@charset "UTF-8";



html {scroll-behavior: smooth;}

body{

	background-color: #fff;
	font-family: "M PLUS 1p", "Noto Color Emoji", sans-serif;
}



.header{

	position: fixed;
   background-color: rgba( 219, 42, 123, 0);
   width: 40%;
   height: auto;
	top: 0px;
	right: 24%;  
	font-size:4vw;
	text-align: center;


}
 


li{

	list-style: none;

}

h1{
	margin-top:10px;
	margin-bottom:	10px;
	color: rgba(102, 102, 102, 0.8);
}



.images {
	display: grid;
	place-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	gap:  1vw 2vw;
	padding: 0vw　0vw　20vw　0vw;
	margin: 4vw 0vw 0vw 5vw;
	list-style: none;
}

.images li {
	margin: 0;
	padding: 0;
}

.images img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
}


.main{

	background-color: rgba( 219, 42, 123, 0.5);
	color :#ffffff;
	width: 20%;
	height: auto;
	float: left;
	padding-top: 200px;
	padding-right: 3vw;
	padding-left: 3vw;
	padding-bottom: 100px;

	margin-left:5%;
	margin-right:5%;
	margin-top:-200px;
	min-height: 100vh;

}

h2{

	font-size: clamp(15px, 1.5vw, 24px);
	text-align: center;
	margin-top:160px;
	margin-bottom:0px;
	border-bottom: 1px solid #ffffff;


}


p{

	padding-top:10px;
	padding-bottom: 0px;
	font-size: clamp(12px, 1.2vw, 16px);

}




.sub{
	position: fixed;
	right: 0px;
	top: 0;
	background-color: rgba(219, 42, 123, 0.5);
	color: #ffffff;
	width: 7%;
	height: 100%;
	padding-top: 200px;
	padding-right: 1vw;
	padding-left: 1vw;
	padding-bottom: 100px;
	margin-left:5%;
	margin-right:4%;
	float: none;


}

a {
	text-decoration: none;
	color: #fff;
}

#menu-btn-check {
    display: none;
}


.side{
	border-bottom: solid 1px #ffffff;
	font-size: clamp(0.5vw, 0.6vw, 1vw);
	margin-left:-40px;
	margin-right:0px;
	margin-top:15px;


}


.sns {
	position: fixed;
	bottom: 80px;
	width: 7vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;


}

.button-youtube,
.button-booth,
.button-x {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	font-size: clamp(12px, 1vw, 16px);
	padding: 10px 0;
}


.button-youtube {
  background-color: red;
}


.button-booth {
  background-color: #fc4d50;
}

.button-x {
	background-color: #000;
}



.media-sns{

	display:none;


}


textarea{
	width:100%;
	height:200px;
	margin-top:-10px;
}

input[type=submit]{


}



/*↓★bannarブロック↓★*/

.header-logo-notomain{
    display: none;
}

.bannerimages-main{
    display: none;
}



.banner-images{

	display: grid;
	place-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	gap: 1vw 5vw;
	padding: 0;
	margin: 8vw 0vw 0vw 16vw;
	list-style: none;
}

.banner-images img {
	display: block;
	width: 125%;
	height: auto;
	object-fit: contain;
	border: 1px solid #000;
}


.header-notmain{
	position: fixed;
	background-color: rgba( 219, 42, 123, 0);
	width: 55%;
	height: auto;
	top: 0px;
	right: 24%;  
	font-size:4vw;
	text-align: center;
	padding: 0vh 0vh 4vh 0vh;
	margin-top:0vh;
}


.header-notmain h1{
	display: none;
}


/*↑★bannarブロック↑★*/
/*↓★コメントカスタムCSSブロック↓★*/

.commentcss-main{
    display: none;
}

.commentcss-images{

	display: grid;
	place-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	gap: 3vw, 10vw;
	padding: 10vw 0vw 0vw 16vw;
	list-style: none;

}

.commentcss-images img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
}

/*★↑コメントカスタムCSSブロック↑★*/
/*↓★MAPブロック↓★*/

.mapimages-main{
    display: none;
}



.map-images{

	display: grid;
	place-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	gap: 1vw 0.5vw;
	padding: 2vw 0vw 2vw 16vw;
	margin-bottom: 16vw;
	list-style: none;
}

.map-images img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
	margin: 0px 0px 0px 0px;
}

.map-images .map-column{
	grid-column: 1 / -1;
	font-size:  0.8vw;
	margin: -5px 0px 20px 0px;
	line-height: 1.2;
	text-align: left;
	color: #333333;
}

.hosoku{
font-size: 0.7vw;
	
}


/*★↑MAPブロック↑★*/
/*↓★WEB制作ブロック↓★*/

.webseisaku-main{
    display: none;
}

.webseisaku-images{
	display: grid;
	place-content: center;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: auto;
	gap: 1vw 2vw;
	padding: 0;
	margin: 8vw 0vw 0vw 25vw;
	list-style: none;
}

.webseisaku-images img {
	display: block;
	width: 90%;
	height: auto;
	object-fit: contain;
}



/*★↑WEB制作ブロック↑★*/




/*★★★★★★メディアクリエ設定ここから★★★★★★*/


@media screen and (max-width: 480px) {
 .container {
    display: none;
  }
}


@media screen and (max-width:480px) {

/*★★★★★★↓↓↓このエリアに記述↓↓↓★★★★★★*/



.header{
	position: fixed;
	width: 100%;
	height:180px;
	float: none;
	right:20px; 
	background-color: #fff;
	font-size:6.5vw;
	top:-20px;
}

	
/*↓★main以外のヘッダー↓★*/

.header-notmain{
	position: fixed;
	width: 100%;
	height:80px;
	float: none;
	right:20px; 
	background-color: #fff;
	font-size:6.5vw;
	top:-20px;
	text-align: center;

}

	
.header-notmain h1{
	display: block;
}

	
	
/*↑★main以外のヘッダー↑★*/

.main-goaisatsu{
	font-size: clamp(15px, 1.5vw, 24px);
	text-align: center;
	margin-top:200px;
	margin-bottom:0px;
	border-bottom: 1px solid #ffffff;	
}
	
	
h1{
	margin-top:29px;
	margin-bottom:15px;
	margin-left:-16px;
	letter-spacing: -0.03em;
}


/*ハンバーガーコーナー*/

.menu-btn {
    position: fixed;
    top: 20px;
    right: 40px;
    display: flex;
    height: 38px;
    width: 38px;
    justify-content: center;
    align-items: center;
    z-index: 200;
    background-color: rgba(102, 102, 102, 0.5);
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}


#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 0;
	right: -60%;
	z-index: 150;
	background-color: rgba(102, 102, 102, 0.5);
	transition: right 0.5s;
}

.menu-content ul {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 5px;

}

.menu-content ul li {
	border-bottom: solid 1px #ffffff;
	list-style: none;
}

.menu-content ul li a {

	display: block;
	width: 80%;
	font-size: 12px;
	box-sizing: border-box;
	color:#ffffff;
	text-decoration: none;
	padding: 9px 10px 5px 0;
	position: relative;
}


#menu-btn-check:checked ~ .menu-content {
	right: 0;
}


.menu-btn::after {
	content: "MENU";
	position: absolute;
	bottom: -12px;
	font-size: 10px;
	color: rgba(102, 102, 102, 0.5);
	letter-spacing: 1px;
}


#menu-btn-check:checked + .menu-btn::after {
	content: "CLOSE";
	color:#fff;
}


/*ハンバーガーコーナー*/


.images {
	position: fixed;
	left:-12px;
	margin-right:40px;
	margin-left:0px;
	margin-top:-10px;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	gap: 5px;
  }

.images img {
	width: 100%;
	height: auto;
  }


.main{
	width: 60%;
	float: none;

	padding-top: 300px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 100px;

	margin-left:5%;
	margin-right:5%;
	margin-top:-200px;
	margin-bottom:-100px;

}


h2{
	text-align: center;
	margin-top:50px;
	margin-bottom:0px;
scroll-margin-top: 25vh;
}

.sub{
	background-color: rgba(219, 42, 123, 0);
}


.sns{

	display:none;

}


.media-sns {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 40px;


}



.footer{
	width: 100%;
	float: none;
}    


	
/*↓★bannarブロック↓★*/

.banner-images{
	display:none;
}

.bannerimages-main{
	display: grid;
	place-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	gap: 1.5vw 1.5vw;
	padding: 0;
	margin: 15px 0% 0% 0%;
	list-style: none;
}

.bannerimages-main img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
	border: 1px solid #000;
}

/*↑★bannarブロック↑★*/
/*↓★コメントカスタムCSSブロック↓★*/

.commentcss-main {
	display: block;
	margin-top:	15px;
}

	

.commentcss-images{
display:none;
}

.commentcss-main img {
	display: block;
	width: 100%;
	height: auto;
	margin-top:	5px;
}



/*★↑コメントカスタムCSSブロック↑★*/
/*↓★MAPブロック↓★*/

.map-images{
display: none;
}

.mapimages-main {
	display: block;
	margin-top:	15px;
}

.mapimages-main img {
	display: block;
	width: 100%;
	height: auto;
	margin-top:	5px;
}

.mapimages-main .map-column-main{
	grid-column: 1 / -1;
	font-size:  1.5vw;
	margin: -10px 0px 20px 0px;
	line-height: 1.6;
	text-align: left;
	color: #fff;
}

.hosoku{
font-size: 2vw;
	
}

	


/*★↑MAPブロック↑★*/
/*↓★WEB制作ブロック↓★*/

	
.webseisaku-images{
display: none;
}

.webseisaku-main {
display: block;
  }

.webseisaku-main img{
	display: block;
	width: 100%;
	height: auto;
	margin-top:	20px;
}
	
	
/*↑★WEB制作ブロック↑★*/

	

/*★★★★★★↑↑↑↑↑↑↑↑↑↑↑↑↑★★★★★★*/


}

}


































































































































































