@charset "UTF-8";



html {scroll-behavior: smooth;}


body{
	background-image: url("https://raw.githubusercontent.com/commemaru/PORTFOLIO/main/images/grid.png");
	background-attachment: fixed;
}



.header{

	position: fixed;
   background-color: rgba( 219, 42, 123, 0);
   width: 40%;
   height: auto;
	top: 0px;
	right: 24%;  
	font-size:4vw;
	text-align: center;


}
 


li{

	list-style: none;

}

h1{
	margin-top:10px;
	margin-bottom:	10px;
	color: rgba(102, 102, 102, 0.8);
}



.images {
	display: grid;
	place-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	gap: 40px 40px;
	padding: 0;
	margin: 0vw 0vw 0vw 5.5vw;
	list-style: none;
}

.images li {
	margin: 0;
	padding: 0;
}

.images img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
}



.main{

	background-color: rgba( 219, 42, 123, 0.5);
	color :#ffffff;
	width: 20%;
	height: auto;
	float: left;
	padding-top: 200px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 100px;

	margin-left:5%;
	margin-right:5%;
	margin-top:-200px;

}

h2{

	font-size: clamp(15px, 1.5vw, 24px);
	text-align: center;
	margin-top:160px;
	margin-bottom:0px;


}


p{

	padding-top:10px;
	padding-bottom: 0px;
	border-top: 1px solid #ffffff;
	font-size: clamp(12px, 1.2vw, 16px);

}




.sub{
	position: fixed;
	right: 0px;
	top: 0;
	background-color: rgba(219, 42, 123, 0.5);
	color: #ffffff;
	width: 7%;
	height: 100%;
	padding-top: 200px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 100px;
	margin-left:5%;
	margin-right:4%;
	float: none;


}

a {
	text-decoration: none;
	color: #fff;
}

#menu-btn-check {
    display: none;
}


.side{
	border-bottom: solid 1px #ffffff;
	font-size: clamp(6px, 1vw, 16px);
	margin-left:-40px;
	margin-right:0px;
	margin-top:15px;


}


.sns {
	position: fixed;
	bottom: 80px;
	width: 7vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;


}

.button-youtube,
.button-booth,
.button-x {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	font-size: clamp(12px, 1vw, 16px);
	padding: 10px 0;
}


.button-youtube {
  background-color: red;
}


.button-booth {
  background-color: #fc4d50;
}

.button-x {
	background-color: #000;
}



.media-sns{

	display:none;


}


textarea{
	width:100%;
	height:200px;
	margin-top:-10px;
}

input[type=submit]{


}


/*↓★コメントカスタムCSSブロック↓★*/

.commentcustom{

	display: block;
	width:115%;
	margin: 12vw 0vw 0vw 0vw;

}



.commentcustom-main{

	position: fixed;
	background-color: rgba( 219, 42, 123, 0.5);
	color :#ffffff;
	width: 20%;
	height: auto;
	float: left;
	padding-top: 200px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 100%;

	margin-left:5%;
	margin-right:5%;
	margin-top:-200px;
}


.commentcustomimage-main {
    display: none;
}


/*★↑コメントカスタムCSSブロック↑★*/




/*★★★★★★メディアクリエ設定ここから★★★★★★*/


@media screen and (max-width: 480px) {
 .container {
    display: none;
  }
}


@media screen and (max-width:480px) {

/*★★★★★★↓↓↓このエリアに記述↓↓↓★★★★★★*/



.header{
	position: fixed;
	width: 100%;
	height:200px;
	float: none;
	right:20px; 
	background-image: url("https://raw.githubusercontent.com/commemaru/PORTFOLIO/main/images/grid.png");
	font-size:6.5vw;
	top:-20px;
}

h1{

	margin-top:29px;
	margin-bottom:15px;
	margin-left:-12px;
}


/*ハンバーガーコーナー*/

.menu-btn {
    position: fixed;
    top: 31px;
    right: 40px;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    z-index: 200;
    background-color: rgba(102, 102, 102, 0.5);
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 20px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}


#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 0;
	right: -60%;
	z-index: 150;
	background-color: rgba(102, 102, 102, 0.5);
	transition: right 0.5s;
}

.menu-content ul {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 5px;

}

.menu-content ul li {
	border-bottom: solid 1px #ffffff;
	list-style: none;
}

.menu-content ul li a {

	display: block;
	width: 80%;
	font-size: 12px;
	box-sizing: border-box;
	color:#ffffff;
	text-decoration: none;
	padding: 9px 10px 5px 0;
	position: relative;
}

.menu-content ul li a::before {
	content: "";
	width: 7px;
	height: 7px;
	border-top: solid 2px #ffffff;
	border-right: solid 2px #ffffff;
	transform: rotate(45deg);
	position: absolute;
	right:10px;
	top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
	right: 0;
}


.menu-btn::after {
	content: "MENU";
	position: absolute;
	bottom: -15px;
	font-size: 10px;
	color: rgba(102, 102, 102, 0.5);
	letter-spacing: 1px;
}


#menu-btn-check:checked + .menu-btn::after {
	content: "CLOSE";
	color:#fff;
}


/*ハンバーガーコーナー*/


.images {
	position: fixed;
	left:-12px;
	margin-right:40px;
	margin-left:40px;
	margin-top:-15px;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	gap: 5px;
  }

.images img {
	width: 100%;
	height: auto;
  }


.main{
	width: 60%;
	float: none;

	padding-top: 380px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 100px;

	margin-left:5%;
	margin-right:5%;
	margin-top:-200px;
	margin-bottom:-100px;

}


h2{
	text-align: center;
	margin-top:50px;
	margin-bottom:0px;
scroll-margin-top: 25vh;
}

.sub{
	background-color: rgba(219, 42, 123, 0);
}


.sns{

	display:none;

}


.media-sns {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 40px;


}



.footer{
	width: 100%;
	float: none;
}    


/*↓★コメントカスタムCSSブロック↓★*/



.commentcustom{	

display:none;

}

.commentcustomimage-main{

display:block;
width: 130%;
margin-left: -32px;
}



.commentcustom-main{

	width: 60%;
	float: none;

	position: relative; 
	padding-top: 280px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 120px;

	margin-left:5%;
	margin-right:5%;
	margin-top:-200px;
	margin-bottom:-100px;


}



/*★↑コメントカスタムCSSブロック↑★*/







/*★★★★★★↑↑↑↑↑↑↑↑↑↑↑↑↑★★★★★★*/


}

}








